<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="NLog.Raygun"/>
  </extensions>
  <targets>
    <!-- add your targets here -->
    <target name="asyncRaygun" xsi:type="AsyncWrapper">
      <target
          name="RayGunTarget"
          type="RayGun"
          ApiKey=""
          Tags=""
          IgnoreFormFieldNames=""
          IgnoreCookieNames=""
          IgnoreServerVariableNames=""
          IgnoreHeaderNames=""
          UseIdentityNameAsUserId="false"
          UseExecutingAssemblyVersion="false"
          ApplicationVersion=""
          layout="${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}${newline}"
        />
    </target>
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Error" writeTo="RayGunTarget" />
  </rules>
</nlog>