<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target
        name="RayGunTarget"
        type="RayGun"
        ApiKey=""
        Tags=""
        IgnoreFormFieldNames=""
        IgnoreCookieNames=""
        IgnoreServerVariableNames=""
        IgnoreHeaderNames=""
        UseExecutingAssemblyVersion="false"
        ApplicationVersion="${assembly-version:NLog.Raygun.TestApp}"
        UserIdentityInfo="${windows-identity}"
        layout="${uppercase:${level}} ${message} ${exception:format=ToString,StackTrace}${newline}"
      />
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Error" writeTo="RayGunTarget" />
  </rules>
</nlog>